@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Manrope:wght@200..800&display=swap");

:root {
  --color-primary: #093931ff;
  --color-secondary: #f5d38eff;
  --color-links: #fff;
  --tipography-headings: "Cormorant Garamond", serif;
  --tipograhy-body: "Manrope", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--tipograhy-body);
  overflow-x: hidden;
}

/* Nav section */
.header__nav {
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  padding: 0.625rem 8.25rem;
}

.header__links {
  display: flex;
  align-items: center;
}

.header__links ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.header__links ul li {
  border-bottom: 4px solid transparent;
  border-radius: 0.13rem;
  padding: 0.65625rem 1.35188rem;
}

.header__links ul li a {
  text-decoration: none;
  color: var(--color-links);
  font-family: var(--tipograhy-body);
}

.header__logo {
  font-family: var(--tipography-headings);
  text-decoration: none;
  color: var(--color-secondary);
  font-size: 1.875rem;
  line-height: 2.875rem;
  font-weight: 400;
}

.header__links ul .active {
  border-color: var(--color-secondary);
}

.header__links ul .active a {
  color: var(--color-secondary);
}

.header__buttons {
  display: flex;
  gap: 1.5rem;
}

.header__buttons button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header__buttons button:hover svg path {
  stroke: var(--color-secondary);
}

.header__menu {
  background-color: transparent;
  cursor: pointer;
  border: none;
  display: none;
}

/* End Nav section */

/* Section check-out */

.checkout-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 40px;
  gap: 20px;
}

.order-summary,
.payment-method {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.order-summary {
  flex: 1 1 60%;
  max-width: 800px;
}

.payment-method {
  flex: 1 1 35%;
  max-width: 348px;
}

.proceed-payment {
  width: 100%;
  padding: 1rem;
  border: none;
  background: #274546;
  color: #fff;
  border-radius: 50rem;
  text-align: center;
  cursor: pointer;
}

.order-summary h2,
.payment-method h2 {
  margin-bottom: 1rem;
  font-family: var(--tipography-headings);
}

.payment-method h6 {
  color: #379ae6ff;
  margin-bottom: 1rem;
  font-size: 12px;
  font-weight: 400;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.item figure {
  margin: 0;
  margin-right: 10px;
}

.item img {
  max-width: 60px;
  border-radius: 5px;
}

.item .details {
  flex-grow: 1;
}

.item .price {
  margin-right: 15rem;
  font-weight: bold;
}

.details p {
  font-weight: bold;
}

.details .code {
  color: gray;
  font-size: 10px;
}

.item i {
  font-weight: bold;
  color: gray;
}

.voucher {
  margin-bottom: 1rem;
}

.payment-card {
  display: flex;
  justify-content: space-between;

  border: 1px solid #0d554aff;
  border-radius: 8px;
  margin-bottom: 1rem;
  color: #0d554aff;
}

.voucher label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.voucher input {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.container input {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.voucher button {
  padding: 0.5rem;
  border: none;
  background: #f4ce80;
  border-radius: 8px;
  margin-left: 0.5rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

.summary {
  margin-bottom: 1rem;
}

.summary p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  font-size: 13px;
}

.summary span {
  font-weight: bold;
}

.summary h6 {
  color: var(--color-primary);
  font-family: var(--tipography-headings);
  font-size: 20px;
}

.summary hr {
  color: gray;
}

.total {
  font-weight: bold;
  margin-top: 1rem;
}

.mastercard {
  position: relative;
  margin-top: 7px;
  right: 3rem;
}

.password {
  position: relative;
  margin-top: 7px;
}

.total {
  color: var(--color-primary);
}

.total span {
  color: red;
}

.form-section {
  display: none;
  padding: 20px 40px;
  gap: 20px;
}

.container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#payment-container {
  display: none;
}

.input-group {
  position: relative;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
}

.input-group input[type="text"],
.input-group input[type="email"],
.input-group input[type="month"] {
  padding: 10px 40px 10px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.container button {
  width: 100%;
  padding: 1rem;
  border: none;
  background: #274546;
  color: #fff;
  border-radius: 50rem;
  text-align: center;
  cursor: pointer;
}

.container h1 {
  margin-bottom: 1rem;
  font-family: var(--tipography-headings);
}

.container label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.input-group .validation-message {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}

/* End Section check-out */

/* Section Suggetions */
.suggestions {
  padding: 40px 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.title h2 {
  color: #003d31;
  margin-bottom: 25px;
  font-size: 30px;
  font-family: var(--tipography-headings);
  margin-left: 1rem;
}

.title {
  display: flex;
  justify-content: space-between;
}

.title h5 {
  color: gray;
  margin-right: 4rem;
}

.suggested-items {
  display: flex;

  gap: 2rem;
}

.suggested-item {
  margin: 10px;

  max-width: 200px;
  display: flex;
  flex-direction: column;

  border-radius: 8px;
  box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #f0efef;
}

.suggested-item img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.suggested-item p {
  margin: 10px 0 0;
  padding: 5px 10px;
  color: #333;
}

.head {
  font-family: var(--tipography-headings);
  font-size: 20px;
  color: #333;
  font-weight: bold;
}

.suggested-item p:nth-of-type(2) {
  margin-top: 5px;
  color: #000;
}

.suggested-item:nth-child(5) {
  margin-right: -70px;
}

.suggested-list::after {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 40px;
  background: linear-gradient(to right, transparent, white);
}

/* End Section Suggetions */

/* Footer */
footer {
  background-color: #093931ff;
  color: #fff;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-left {
  flex: 1;
}

.footer-left .brand-name {
  color: var(--color-secondary);
  font-family: var(--tipography-headings);
  font-size: 24px;
  margin: 0;
}

.footer-left p {
  margin-top: 5rem;
}

.footer-middle {
  flex: 2;
}

.footer-middle ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
}

.footer-middle ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-right {
  flex: 2;
  text-align: right;
}

.footer-right p {
  margin: 0 0 10px 0;
  display: flex;
  position: relative;
  font-family: var(--tipography-headings);
  left: 5rem;
}

.footer-right form {
  display: flex;
  margin-bottom: 10px;
}

.input-container {
  position: relative;
  flex: 1;
}

.input-container input {
  border: #000;
}

.input-container input[type="email"] {
  width: 80%;
  padding: 10px 10px 10px 40px;
  border: 1px solid white;
  border-radius: 20px 0 0 20px;
  background: url("/assets/Mail.svg") no-repeat;
  background-position: 10px center;
  background-size: 24px;
}

.footer-right button {
  padding: 10px;
  border: none;
  background-color: #d0b77e;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}

.footer-right button:hover {
  background-color: #bfa065;
}

.social-icons {
  display: flex;
  justify-content: flex-end;
}

.social-icons a {
  margin-left: 10px;
}

.social-icons img {
  width: 19px;
  height: 19px;
}

/* End Footer */

/* Media queries */
@media (max-width: 850px) {
  html {
    font-size: 14px;
  }

  .header__links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: var(--color-primary);
    position: absolute;
    top: 60px;
    left: 0;
  }

  .header__links ul {
    flex-direction: column;
    width: 100%;
  }

  .header__links ul li {
    margin: 10px 0;
    text-align: center;
  }

  .header__menu {
    display: block;
  }

  .header__links.active {
    display: flex;
  }

  .suggested-item:nth-child(5) {
    margin-left: -70px;
  }
}

@media (max-width: 992px) {
  .checkout-section {
    flex-direction: column;
    align-items: center;
  }

  .order-summary,
  .payment-method {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .order-summary,
  .payment-method {
    margin-bottom: 20px;
  }

  .suggestions {
    padding: 20px 10px;
  }

  .title {
    flex-direction: column;
    align-items: center;
  }

  .title h2 {
    margin-left: 0;
  }

  .title h5 {
    margin-right: 0;
    margin-top: 10px;
  }

  .suggested-items {
    flex-direction: column;
    align-items: center;
  }

  .suggested-item {
    max-width: 100%;
  }

  .suggested-item:nth-child(5) {
    margin-left: -70px;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-left,
  .footer-middle,
  .footer-right {
    flex: 1;
    text-align: center;
    margin: 10px 0;
  }

  .footer-right form {
    flex-direction: column;
    align-items: center;
  }

  .input-container input[type="email"] {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 10px;
  }

  .footer-right button {
    border-radius: 20px;
    width: 100%;
  }

  .social-icons {
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .header__links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: var(--color-primary);
    position: absolute;
    top: 60px;
    left: 0;
  }

  .header__links ul {
    flex-direction: column;
    width: 100%;
  }

  .header__links ul li {
    margin: 10px 0;
    text-align: center;
  }

  .header__menu {
    display: block;
  }

  .header__links.active {
    display: flex;
  }

  .item img {
    max-width: 50px;
  }

  .order-summary,
  .payment-method {
    padding: 15px;
  }

  .suggestions {
    padding: 10px 5px;
  }

  .suggested-items {
    flex-direction: column;
    align-items: center;
  }

  .suggested-item {
    max-width: 100%;
  }

  .suggested-item:nth-child(5) {
    margin-left: -70px;
  }

  .footer-container {
    padding: 10px;
  }

  .footer-left p {
    margin-top: 1rem;
  }
}
