@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Manrope:wght@200..800&display=swap');

:root {
  --color-primary: #093931ff;
  --color-secondary: #f5d38eff;
  --color-links: #fff;
  --tipography-headings: 'Cormorant Garamond', serif;
  --tipograhy-body: 'Manrope', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--tipograhy-body);
  overflow-x: hidden;
}

/* Nav section */
.header__nav {
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  padding: 0.625rem 8.25rem;
}

.header__links {
  display: flex;
  align-items: center;
}

.header__links ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.header__links ul li {
  border-bottom: 4px solid transparent;
  border-radius: 0.13rem;
  padding: 0.65625rem 1.35188rem;
}

.header__links ul li a {
  text-decoration: none;
  color: var(--color-links);
  font-family: var(--tipograhy-body);
}

.header__logo {
  font-family: var(--tipography-headings);
  text-decoration: none;
  color: var(--color-secondary);
  font-size: 1.875rem;
  line-height: 2.875rem;
  font-weight: 400;
}

.header__links ul .active {
  border-color: var(--color-secondary);
}

.header__links ul .active a {
  color: var(--color-secondary);
}

.header__buttons {
  display: flex;
  gap: 1.5rem;
}

.header__buttons button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header__buttons button:hover svg path {
  stroke: var(--color-secondary);
}

.header__menu {
  background-color: transparent;
  cursor: pointer;
  border: none;
  display: none;
}

/* End Nav section */

/* Barra lateral del carrito */
.cart-sidebar {
  position: fixed;
  right: 0;
  top: 0;
  width: 300px;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1000;
}

.cart-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cart-content h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.cart-items {
  flex-grow: 1;
  overflow-y: auto;
}

.cart-content button {
  border: none;
  position: relative;
  align-self: self-end;
}

.product-item {
  display: flex;
  margin-bottom: 20px;
}

.product-item figure {
  margin: 0;
  margin-right: 10px;
}

.product-item img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.product-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-details p {
  margin: 0;
}

.cart-total {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

#continue-btn {
  background-color: #0f5132;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

#continue-btn:hover {
  background-color: #094b2d;
}
/* Fin de la barra lateral del carrito */

/* Migas de pan */

.breadcrumb {
  font-size: 14px;
  margin: 20px 20px;
}

.breadcrumb a {
  color: #333;
  text-decoration: none;
  margin-right: 5px;
}

.breadcrumb span {
  color: #999;
}

/* Fin de migas de pan */

/* Section Details Products */
.product-detail {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

:target {
  display: flex;
}

.image-gallery {
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;
  position: relative;
  border-radius: 5px;
}

.main-image {
  display: block;
  width: 100%;
  height: auto;
}

.heart-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 10;
  font-size: 26px;
}

.heart-icon {
  color: #171a1f;
  transition: color 0.3s;
}

.heart-icon.active {
  color: red;
}

.thumbnail-images {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.thumbnail-images img {
  width: 60px;
  height: auto;
  margin-bottom: 10px;
  cursor: pointer;
  margin-left: 2rem;
  cursor: pointer;
}

.image-gallery .main-image {
  width: 70%;
  height: auto;
}

.product-info {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 400px;
  margin: auto;
}

.product-info h1 {
  font-size: 1.8em;
  margin: 0;
  font-family: var(--tipography-headings);
  color: var(--color-primary);
}

.product-info .product-code {
  color: #555;
  margin: 10px 0;
}

.price {
  color: #b8860b;
  font-size: 2em;
  margin: 10px 0;
}

.color-selection {
  margin: 20px 0;
}

.color-selection p {
  display: inline-block;
  margin: 0;
  color: #2b2b2b;
}

.color-options {
  display: inline-block;
  margin-left: 10px;
}

.color-options .color-silver,
.color-options .color-rose-gold {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ddd;
  cursor: pointer;
  margin-right: 10px;
}

.color-options .color-silver {
  background-color: #d3d3d3;
}

.color-options .color-rose-gold {
  background-color: #e6a879;
}

.color-options .selected {
  border: 2px solid var(--color-primary);
}

.size-selection {
  margin: 20px 0;
}

.size-selection p {
  display: inline-block;
  margin: 0;
  color: #2b2b2b;
}

.size-options {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 5px;
}

.size-options .size {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  cursor: pointer;
  color: gray;
}

.size-options .selected {
  color: #b8860b;
  border: 1px solid #b8860b;
}

.quantity-selection {
  margin: 20px 0;
}

.quantity-selection label {
  display: block;
  margin-bottom: 5px;
  color: #2b2b2b;
}

.quantity-input {
  display: flex;
  align-items: center;
}

.quantity-input button {
  color: black;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.quantity-input input {
  width: 50px;
  text-align: center;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 0 5px;
}

.actions {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.actions button {
  flex: 1;
  padding: 15px;
  cursor: pointer;
  font-size: 1em;
  border-radius: 50px;
}

.add-to-bag {
  background-color: white;
  color: #003d31;
}

.buy-now {
  background-color: #003d31;
  color: white;
}

.buy-now a {
  color: white;
  text-decoration: none;
}

.additional-info {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.additional-info details {
  margin-top: 0;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}

/* End section Details Products */

/* Section Description */
.description {
  padding: 100px;
}

.description h2 {
  color: #006400;
  padding-top: 20px;
  font-family: var(--tipography-headings);
}

.description p {
  text-align: justify;
  color: gray;
  padding-top: 15px;
}

.description-image {
  position: relative;
  text-align: center;
}

.description-image video {
  height: auto;
  padding-top: 45px;
  width: 1020px;
  object-fit: cover;
}

/* End Section Description */

/* Section Information */
.information {
  padding: 40px 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.information p {
  color: gray;
  font-size: 14px;
}

.info {
  padding: 50px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 120px;
}

.info-item {
  text-align: center;
}

.info-item i {
  font-size: 30px;
  margin-bottom: 10px;
  color: var(--color-secondary);
}

/* End Section Information */

/* Section Products Like */

#products-like {
  padding: 40px 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

#products-like h3 {
  color: #003d31;
  margin-bottom: 25px;
  font-size: 30px;
  font-family: var(--tipography-headings);
  margin-left: 4rem;
}

.products-like {
  display: flex;
  justify-content: center;
}

.product-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}

.product-item {
  text-align: center;
  margin: 10px;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #f0efef;
}

.product-item figure {
  margin: 0;
}

.product-item img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.product-item p {
  margin: 10px 0 0;
  color: #333;
}

.head {
  margin: 10px 0 0;
  font-family: var(--tipography-headings);
  font-size: 20px;
  color: #333;
  font-weight: bold;
}

.product-item p:nth-of-type(2) {
  margin-top: 5px;

  color: #000;
}

.product-item:nth-child(5) {
  margin-right: -70px;
}

.product-list::after {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 40px;
  background: linear-gradient(to right, transparent, white);
}

/* End Section Products Like */

/* Footer */
footer.footer {
  width: 100%;
  padding: 40px 20px;
  background-color: #093931ff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
  max-width: 1200px;
  width: 100%;
  flex-wrap: wrap;
}

.testimonial-header {
  max-width: 500px;
  margin-right: 20px;
  color: whitesmoke;
  flex: 1;
  padding: 0 50px;
}

.testimonial-header h2 {
  font-size: 48px;
  margin: 0;
  font-weight: bold;
  margin-top: 150px;
  font-family: var(--tipography-headings);
}

.testimonial-header p {
  margin: 10px 0 0;
  font-size: 1.1em;
  line-height: 1.5em;
}

.testimonial-content {
  display: flex;
  align-items: center;
  width: 696px;
  height: 375px;
  background-color: #171a1f4d;
  flex-wrap: wrap;
}

.testimonial-image {
  width: 100%;
  max-width: 300px;
  height: 100%;
  max-height: 375px;
  margin-right: 20px;
  object-fit: inherit;
  flex: 1;
}

.testimonial-text {
  flex-grow: 1;
  margin-right: 20px;
  color: whitesmoke;
  flex: 2;
}

.testimonial-text p {
  font-size: 1.1em;
  line-height: 1.5em;
}

.testimonial-text footer {
  margin-top: 10px;
  font-size: 1em;
  font-weight: bold;
}

.testimonial-nav {
  display: flex;
  flex-direction: row;
  align-self: self-end;
  position: absolute;
  right: 6rem;
  margin-bottom: -40px;
}

.nav-button {
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  margin: 5px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  padding: 0 50px;
  border-top: 1px solid #fff;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #093931ff;
  color: #fff;
  padding: 20px 0;
}

.footer-left {
  flex: 1;
}

.footer-left .brand-name {
  color: var(--color-secondary);
  font-family: var(--tipography-headings);
  font-size: 24px;
  margin: 0;
}

.footer-left p {
  margin-top: 5rem;
}

.footer-middle {
  flex: 2;
}

.footer-middle ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
}

.footer-middle ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-right {
  flex: 2;
}

.footer-right p {
  margin: 0 0 10px 0;
  display: flex;
  position: relative;
  font-family: var(--tipography-headings);
}

.footer-right form {
  display: flex;
  margin-bottom: 10px;
}

.input-container {
  position: relative;
  flex: 1;
}

.input-container input {
  border: #000;
}

.input-container input[type='email'] {
  width: 100%;
  padding: 10px 10px 10px 40px;
  border: 1px solid white;
  border-radius: 20px 0 0 20px;
  background: url('/assets/Mail.svg') no-repeat;
  background-position: 10px center;
  background-size: 24px;
}

.footer-right button {
  padding: 10px;
  border: none;
  background-color: #d0b77e;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}

.footer-right button:hover {
  background-color: #bfa065;
}

.social-icons {
  display: flex;
  justify-content: flex-end;
}

.social-icons a {
  margin-left: 10px;
}

.social-icons img {
  width: 19px;
  height: 19px;
}
/*End Footer  */

/* Media Querie */
@media (max-width: 850px) {
  html {
    font-size: 14px;
  }

  .header__links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: var(--color-primary);
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 1;
  }

  .header__links ul {
    flex-direction: column;
    width: 100%;
  }

  .header__links ul li {
    margin: 10px 0;
    text-align: center;
  }

  .header__menu {
    display: block;
  }

  .header__links.active {
    display: flex;
  }

  .testimonial-nav {
    display: flex;
    flex-direction: row;
    align-self: self-end;
    position: relative;
    right: 3rem;
  }

  .description-image video {
    height: auto;
    padding-top: 45px;
    width: 800px;
    object-fit: cover;
  }

  .heart-icon {
    color: var(--color-primary);
  }
}

@media (max-width: 768px) {
  .header__links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: var(--color-primary);
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 1;
  }

  .header__links ul {
    flex-direction: column;
    width: 100%;
  }

  .header__links ul li {
    margin: 10px 0;
    text-align: center;
  }

  .header__menu {
    display: block;
  }

  .header__links.active {
    display: flex;
  }

  .testimonial {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .testimonial-header,
  .testimonial-content,
  .testimonial-image,
  .testimonial-text {
    margin-right: 0;
    max-width: 100%;
    flex: none;
  }

  .testimonial-nav {
    display: flex;
    flex-direction: row;
    left: 9rem;
  }

  .nav-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 2em;
    cursor: pointer;
    margin: 5px;
    position: relative;
  }

  .footer-links {
    flex-direction: column;
    align-items: center;
  }

  .links,
  .newsletter {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .description-image video {
    height: auto;
    padding-top: 45px;
    width: 600px;
    object-fit: cover;
  }
}

@media (max-width: 600px) {
  .header__links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: var(--color-primary);
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 1;
  }

  .header__links ul {
    flex-direction: column;
    width: 100%;
  }

  .header__links ul li {
    margin: 10px 0;
    text-align: center;
  }

  .header__menu {
    display: block;
  }

  .header__links.active {
    display: flex;
  }

  .testimonial-nav {
    display: flex;
    flex-direction: row;
    left: 7rem;
  }

  .nav-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 2em;
    cursor: pointer;
    margin: 5px;
    position: relative;
  }

  .description-image img {
    padding-top: 45px;
    width: 29rem;
    height: 29rem;
  }

  .product-detail {
    flex-direction: column;
    align-items: center;
  }

  .main-image {
    align-self: center;
  }

  .image-gallery {
    flex-direction: column;
    width: 100%;
    order: 1;
  }

  .thumbnail-images {
    flex-direction: row;
    justify-content: center;
    margin: 0 0 20px 0;
    width: 100%;
    order: 2;
    margin-top: 15px;
  }

  .thumbnail-images img {
    margin-left: 0;
    margin-right: 10px;
  }

  .product-info {
    order: 3;
    width: 100%;
  }

  .color-selection,
  .size-selection,
  .quantity-selection,
  .actions,
  .additional-info {
    width: 100%;
  }

  .description-image video {
    height: auto;
    padding-top: 45px;
    width: 400px;
    object-fit: cover;
  }
}
